@import url(../lib/jquery-simple-combobox/css/jquery.scombobox.min.css);
/* line 58, ../sass/screen.scss */
body {
  margin: 8px;
  padding: 0;
  border-width: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  background-repeat: no-repeat;
  letter-spacing: 0.09em;
}
/* line 67, ../sass/screen.scss */
body.light {
  color: rgba(0, 0, 0, 0.7);
}
/* line 71, ../sass/screen.scss */
body.dark {
  color: rgba(255, 255, 255, 0.7);
}

/* line 78, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

/* line 83, ../sass/screen.scss */
button {
  height: 32px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: inherit;
  cursor: pointer;
  margin-top: 6px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 94, ../sass/screen.scss */
button[disabled*=disabled] {
  cursor: default;
}
/* line 98, ../sass/screen.scss */
.light button {
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.45);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4yMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0.22)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.22));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.22));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.22));
}
/* line 49, ../sass/screen.scss */
.light button:active, .light button:focus {
  outline: 0;
}
/* line 53, ../sass/screen.scss */
.light button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 103, ../sass/screen.scss */
.light button[disabled*=disabled] {
  background-image: none;
  color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}
/* line 110, ../sass/screen.scss */
.dark button {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.17)), color-stop(100%, rgba(255, 255, 255, 0.04)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.04));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.04));
}
/* line 27, ../sass/screen.scss */
.dark button:active, .dark button:focus {
  outline: 0;
}
/* line 31, ../sass/screen.scss */
.dark button:active {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 115, ../sass/screen.scss */
.dark button[disabled*=disabled] {
  background-image: none;
  color: rgba(255, 255, 255, 0.2);
}

/* line 122, ../sass/screen.scss */
div.centered {
  position: absolute;
  width: 100%;
  left: 0;
  top: 45%;
  background-position: top center;
  background-repeat: no-repeat;
}
/* line 130, ../sass/screen.scss */
div.centered p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 138, ../sass/screen.scss */
div.centered#loading {
  background-size: 124px 103px;
  height: 129px;
  margin-top: -65px;
}
/* line 143, ../sass/screen.scss */
.light div.centered#loading {
  background-image: url(../images/loading_forBright.png);
}
/* line 147, ../sass/screen.scss */
.dark div.centered#loading {
  background-image: url(../images/loading_forDark.png);
}
/* line 152, ../sass/screen.scss */
div.centered#offline {
  display: none;
  background-size: 81px 70px;
  height: 152px;
  margin-top: -76px;
}
/* line 158, ../sass/screen.scss */
div.centered#offline p {
  bottom: auto;
  top: 90px;
}
/* line 163, ../sass/screen.scss */
div.centered#offline button {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40%;
  width: 80%;
}
/* line 171, ../sass/screen.scss */
.light div.centered#offline {
  background-image: url(../images/error_forBright.png);
}
/* line 175, ../sass/screen.scss */
.dark div.centered#offline {
  background-image: url(../images/error_forDark.png);
}

/* line 181, ../sass/screen.scss */
#main {
  display: none;
}
/* line 184, ../sass/screen.scss */
#main #header {
  border-width: 0 0 1px 0;
  border-style: solid;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 189, ../sass/screen.scss */
.light #main #header {
  border-color: rgba(0, 0, 0, 0.24);
}
/* line 193, ../sass/screen.scss */
.dark #main #header {
  border-color: rgba(0, 0, 0, 0.24);
}
/* line 197, ../sass/screen.scss */
#main #header h1 {
  display: inline-block;
  width: 35px;
  height: 21px;
  overflow: hidden;
  text-indent: -99999px;
  margin: 5px 0 9px 5px;
  background-repeat: no-repeat;
  background-size: 35px 22px;
}
/* line 207, ../sass/screen.scss */
.light #main #header h1 {
  background-image: url(../images/logo_forBright.png);
}
/* line 211, ../sass/screen.scss */
.dark #main #header h1 {
  background-image: url(../images/logo_forDark.png);
}
/* line 216, ../sass/screen.scss */
#main #header p.meta {
  float: right;
  text-align: right;
  font-size: 9px;
  padding: 9px 3px 0 0;
}
/* line 222, ../sass/screen.scss */
.light #main #header p.meta {
  color: rgba(0, 0, 0, 0.4);
}
/* line 226, ../sass/screen.scss */
.dark #main #header p.meta {
  color: rgba(255, 255, 255, 0.4);
}
/* line 232, ../sass/screen.scss */
#main #form {
  border-width: 1px 0 0 0;
  border-style: solid;
  padding: 9px 0 0 0;
}
/* line 237, ../sass/screen.scss */
.light #main #form {
  border-color: rgba(255, 255, 255, 0.12);
}
/* line 241, ../sass/screen.scss */
.dark #main #form {
  border-color: rgba(255, 255, 255, 0.12);
}
/* line 245, ../sass/screen.scss */
#main #form p {
  padding-bottom: 2px;
}
/* line 248, ../sass/screen.scss */
#main #form p select, #main #form p button {
  width: 100%;
}
/* line 252, ../sass/screen.scss */
#main #form p label {
  font-size: 11px;
  padding-left: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 257, ../sass/screen.scss */
.light #main #form p label {
  color: rgba(0, 0, 0, 0.7);
}
/* line 261, ../sass/screen.scss */
.dark #main #form p label {
  color: rgba(255, 255, 255, 0.7);
}
/* line 266, ../sass/screen.scss */
#main #form p .scombobox {
  margin: 3px 0 7px;
}
/* line 269, ../sass/screen.scss */
#main #form p .scombobox input {
  padding: 5px 7px;
  border-width: 1px;
  border-style: solid;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
/* line 276, ../sass/screen.scss */
.light #main #form p .scombobox input {
  color: rgba(0, 0, 0, 0.7);
  background-color: #FFF;
  border-color: rgba(0, 0, 0, 0.45);
}
/* line 282, ../sass/screen.scss */
.dark #main #form p .scombobox input {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.7);
}
/* line 288, ../sass/screen.scss */
#main #form p .scombobox input.scombobox-invalid {
  background-color: rgba(255, 0, 0, 0.3);
}
/* line 292, ../sass/screen.scss */
#main #form p .scombobox input:focus, #main #form p .scombobox input:active {
  outline-width: 1px;
  outline-style: solid;
  background-color: #FFF;
  color: #000;
}
/* line 300, ../sass/screen.scss */
#main #form p .scombobox .scombobox-dropdown-background {
  background: inherit;
  border-width: 1px;
  border-style: solid;
  width: 25px;
}
/* line 306, ../sass/screen.scss */
.light #main #form p .scombobox .scombobox-dropdown-background {
  border-color: rgba(0, 0, 0, 0.45);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4yMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0.22)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.22));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.22));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.22));
}
/* line 49, ../sass/screen.scss */
.light #main #form p .scombobox .scombobox-dropdown-background:active, .light #main #form p .scombobox .scombobox-dropdown-background:focus {
  outline: 0;
}
/* line 53, ../sass/screen.scss */
.light #main #form p .scombobox .scombobox-dropdown-background:active {
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 311, ../sass/screen.scss */
.dark #main #form p .scombobox .scombobox-dropdown-background {
  border-color: rgba(0, 0, 0, 0.7);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.17)), color-stop(100%, rgba(255, 255, 255, 0.04)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.04));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.04));
}
/* line 27, ../sass/screen.scss */
.dark #main #form p .scombobox .scombobox-dropdown-background:active, .dark #main #form p .scombobox .scombobox-dropdown-background:focus {
  outline: 0;
}
/* line 31, ../sass/screen.scss */
.dark #main #form p .scombobox .scombobox-dropdown-background:active {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 317, ../sass/screen.scss */
#main #form p .scombobox .scombobox-dropdown-arrow {
  width: 25px;
}
/* line 324, ../sass/screen.scss */
.light #main #form p .scombobox.scombobox-disabled input {
  color: rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}
/* line 61, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.light #main #form p .scombobox.scombobox-disabled input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
/* line 64, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.light #main #form p .scombobox.scombobox-disabled input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
/* line 67, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.light #main #form p .scombobox.scombobox-disabled input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
/* line 56, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.light #main #form p .scombobox.scombobox-disabled input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
/* line 334, ../sass/screen.scss */
.dark #main #form p .scombobox.scombobox-disabled input {
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 61, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.dark #main #form p .scombobox.scombobox-disabled input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
/* line 64, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.dark #main #form p .scombobox.scombobox-disabled input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
/* line 67, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.dark #main #form p .scombobox.scombobox-disabled input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
/* line 56, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.dark #main #form p .scombobox.scombobox-disabled input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
/* line 343, ../sass/screen.scss */
#main #form p .scombobox.scombobox-disabled .scombobox-dropdown-background {
  background-image: none;
  cursor: default;
}
/* line 347, ../sass/screen.scss */
.light #main #form p .scombobox.scombobox-disabled .scombobox-dropdown-background {
  border-color: rgba(0, 0, 0, 0.1);
}
/* line 357, ../sass/screen.scss */
#main #form p .scombobox .scombobox-list {
  color: #000;
  border-radius: 2px;
  max-height: 200px;
}
/* line 362, ../sass/screen.scss */
#main #form p .scombobox .scombobox-list p {
  padding: 5px 7px;
  margin: 0;
}
/* line 371, ../sass/screen.scss */
#main p.help {
  text-align: center;
  margin-top: 10px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
